rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Разрешаем любому авторизованному пользователю создавать и читать свой профиль
    match /userData/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Разрешаем всем читать карточки животных, но писать может только админ
    match /animals/{animalId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/userData/$(request.auth.uid)).data.role == 'admin';
    }
  }
}